@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    word-wrap: break-word;
}

.mainDiv{
    display: flex;
    justify-content:center;
    background: rgb(225, 172, 74);
    margin: 300px 350px;
    border-radius: 24px;
    padding: 10px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}